---
import ipa from "../../ipa_base.json";
import {
	FEATURES,
	get_dicts,
	get_matches,
	validate_dict_string,
} from "../utils/paddler";

const dicts = get_dicts();

const params = Astro.url.searchParams;

const query = params.get("query");
const dict = validate_dict_string(dicts, params.get("dict")) ?? "en_US";

console.log({ query, dict });

const results = query && dict ? await get_matches(query, dict) : [];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Online Phonetic Dictionary</title>
	</head>
	<body>
		<main>
			<form method="get" action="/">
				<select name="dict" id="dict-select">
					{
						dicts.map((val) => (
							<option value={val} selected={val === dict}>
								{val}
							</option>
						))
					}
				</select>
				<input
					id="search"
					placeholder="Search..."
					name="query"
					value={query}
				/>
				<button type="submit">Search</button>

				<div>
					<div>
						{
							FEATURES.map((f) => (
								<button data-feature={f}>{f}</button>
							))
						}
					</div>
					<div>
						{
							ipa.map((item) => {
								return (
									<button
										data-feature={item.ipa}
										title={Object.entries(item)
											.filter(
												([_key, val]) =>
													val === "+" || val === "-",
											)
											.map(([key, _val]) => _val + key)
											.join(",")}
									>
										{item.ipa}
									</button>
								);
							})
						}
					</div>
				</div>
			</form>

			<ul
				style="display:grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); height: 100ch; overflow: scroll; background-color:aliceblue"
			>
				{
					results.map((item) => (
						<li style="list-style-type: none;"> {item} </li>
					))
				}
			</ul>
		</main>
	</body>
</html>

<script>
	const input = document.querySelector("input#search") as HTMLInputElement;

	document.querySelectorAll("form>div button").forEach((button) => {
		(button as HTMLButtonElement).addEventListener("click", (e) => {
			e.preventDefault();

			const feature = button.getAttribute("data-feature");

			if (feature) {
				input.value += feature;
			}
		});
	});
</script>
